<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET,POST,OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, soapaction" />
            </customHeaders>
        </httpProtocol>
        <modules>
            <add name="UriCacheModule" />
            <add name="FileCacheModule" />
        </modules>
        <rewrite>
            <rules>
                <rule name="Règle 1 importée">
                    <match url=".*" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.php" />
                </rule>
            </rules>
        </rewrite>
        <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files\WIKI\">
            <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
                <dynamicTypes>
                    <add mimeType="text/*" enabled="true"/>
                    <add mimeType="message/*" enabled="true"/>
                    <add mimeType="application/javascript" enabled="true"/>
                    <add mimeType="*/*" enabled="false"/>
                </dynamicTypes>
                <staticTypes>
                    <add mimeType="text/*" enabled="true"/>
                    <add mimeType="message/*" enabled="true"/>
                    <add mimeType="application/javascript" enabled="true"/>
                    <add mimeType="*/*" enabled="false"/>
                </staticTypes>
            </httpCompression>
        <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
    </system.webServer>
</configuration>